body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1b1b1b;
}

.calculator{
  position: relative;
  display: grid;

  grid-template-columns: repeat(4, 60px);
  grid-template-rows: minmax(120px, auto) repeat(5, 60px);
  justify-content: center;
  align-content: center;
  gap: 12px;
  padding: 12px;
  border-radius: 30px;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.085);
  
}

.calculator input{
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 30px;
  text-align: right;
  
}

.calculator .value{
  grid-column: span 4;
  height: 100px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
}

.calculator span{
  display: grid;
  width: 60px;
  height: 60px;
  color: #292929;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  transition: 0.3s;
  border-radius: 30px;
}

.calculator span:active{
  background: rgb(255, 163, 26);
  color: white;
}

.calculator span.clear{
  grid-column: span 2;
  width: 120px;
  background: rgb(255, 163, 26);
}

.calculator span.plus{
  grid-row: span 2;
  height: 120px;
}

.calculator span.equal{
  background: rgb(255, 163, 26);
}